*{
    font-weight: bold;
}

.main{
    width: 70%;
    margin: 0 auto;
}

.div {
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
}

.form{
    background-color:rgb(192, 238, 236) ;
    border-radius: .5rem;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    label{
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
    input,select,button{
        height: 1.5rem;
        border-radius: .3rem;
    }
}

.submit{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-color: #74bbb7 ;
}

.excluir{
    height: 1.5rem;
    border-radius: .3rem;
    background-color: #bb7474;
    transition: all 0.3s ease;
}

.excluir:hover{
    background-color: #801c1c; ;
    color: white;
}

.editar{
    height: 1.5rem;
    border-radius: .3rem;
    background-color: #74bb83;
    transition: all 0.3s ease;
}

.editar:hover{
    background-color: #2a5233 ;
    color: white;
}

.list{
    padding: 0 !important;
    text-align: justify;
    justify-content: space-between;
    flex-direction: column;
    
}

table, th , td {
    border: 1px solid rgb(116, 187, 183) ;
    border-collapse: collapse;
    padding: 5px;
}

th{
    background-color: rgb(116, 187, 183) ;
}

h1{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    width: 70%;
}

@media(max-width: 961px) {
    .editar{
        margin-top: .25rem;
    }
}

@media(min-width: 962px) {
    .editar{
        margin-left: .25rem;
    }
}